<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="cha.css">
</head>
<body>
  <section>
    <!--for demo wrap-->
    <div id="modalWrap">
        <div id="modalBody">
          <span id="closeBtn">&times;</span>
          <div class="wrapper">
            <form>
              <div class="group">
                <input id="guaranteedRank" type="text"/><span class="highlight"></span><span class="bar"></span>
                <label>보장순위</label>
              </div>
              <div class="group">
                <input id="companyNum" type="text"/><span class="highlight"></span><span class="bar"></span>
                <label>사업자</label>
              </div>
              <div class="group">
                <input id="keyword" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                <label>키워드</label>
              </div>
              <div class="group">
                <input id="companyName" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                <label>업체명</label>
              </div>
              <div class="group">
                <input id="companyNumber" type="text"/><span class="highlight"></span><span class="bar"></span>
                <label>업체전화번호</label>
              </div>
              <div class="group">
                <input id="companyPhone" type="text"/><span class="highlight"></span><span class="bar"></span>
                <label>사장번호</label>
              </div>
              <div class="group">
                <input id="companyCode" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                <label>지도번호</label>
              </div>
              <div class="group">
                <input id="status" type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
                <label>업체상태</label>
              </div>
              <div class="btn-box">
                <button class="btn btn-submit" id="createBtn">등록</button>
                <!-- <button class="btn btn-cancel" type="button">cancel</button> -->
              </div>
            </form>
          </div>
        </div>
    </div>
    <h1>DS COMPANY</h1>
    <div class="btn-container">
      <div id="checkBtn" class="btn-3d red">CHECK</div>
      <div id="checkBtn2" class="btn-3d red">업체 등록</div>
        <input
          id="start"
          class="datetimeN"
          type="date"
          name="partydate"
          style="color: white;"
           />
        <input
          id="end"
          class="datetimeN"
          type="date"
          name="partydate"
          style="color: white;"
           />
        <input type="text" id="placeCode" class="code" placeholder="지도번호">
        <div id="downloadBtn" class="btn-3d red">다운로드</div>
    </div>
    <!-- <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr id="place_list_tr">
            <th>카톡이름</th>
            <th style="width: 50px">보장순위</th>
            <th style="width: 100px">사업자</th>
            <th>키워드</th>
            <th>업체명</th>
            <th>업체전화번호</th>
            <th style="width: 70px">사장번호</th>
            <th style="width: 50px">링크주소</th>
          </tr>
        </thead>
      </table>
    </div> -->
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr id="place_list_tr">
            <th>보장순위</th>
            <th>사업자</th>
            <th>키워드</th>
            <th>업체명</th>
            <th>업체전화번호</th>
            <th>사장번호</th>
            <th>지도번호</th>
          </tr>
        </thead>
        <tbody id="place_list">
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>


<script type="module" src="cha.js"></script>